@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.demo {
  view-transition-name: demo-title;
  width: fit-content;
}

.demo-box {
  padding: 1rem;
  border: 1px solid #ddd;
  width: 600px;
  max-width: 100%;
  border-radius: 3px;
}
